// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

// Fonts variables
$montserrat: 'Montserrat', sans-serif;
$fraunces: 'Fraunces', serif;

// Primary Colors
$primary-dark-cyan: hsl(158, 36%, 37%);
$primary-cream: hsl(30, 38%, 92%);

// Neutral colors
$neutral-very-dark-blue: hsl(212, 21%, 14%);
$neutral-dark-grayish-blue: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

