// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

// Fonts variables
$montserrat: 'Montserrat', sans-serif;
$fraunces: 'Fraunces', serif;

// Primary Colors
$primary-dark-cyan: hsl(158, 36%, 37%);
$primary-cream: hsl(30, 38%, 92%);

// Neutral colors
$neutral-very-dark-blue: hsl(212, 21%, 14%);
$neutral-dark-grayish-blue: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

.wrapper {
  position: absolute;
  inset: 0;
  background-color: $primary-cream;
}

.module {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 55vh;
  border-radius: 2%;
  background-color: $neutral-white;
  .image-section {
    width: 100%;
    height: 100%;
  }

  .info-section {
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
}

.product-img {
  width:100%;
  height: 100%;
  border-radius: 2% 0 0 2%;
}

.product-description {
  font-size: 14px;
  color: $neutral-dark-grayish-blue;
  font-family: $montserrat;
  font-weight: 700;
  line-height: 1.4rem;
}

.product-type {
  font-family: $montserrat;
  color: $neutral-dark-grayish-blue;
  letter-spacing: 0.3rem;
  margin: 2em 0 1em 0;
}

.product-name {
  font-family: $fraunces;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.9rem;
  margin-top: 0;
  margin-bottom: 0;
}

.add-to-cart-button {
  background-color: $primary-dark-cyan;
  border: none;
  color: $neutral-white;
  border-radius: 4px;
  height: 3em;
  font-family: $montserrat;
  font-size: 1.05em;
  vertical-align: middle;
  margin-bottom: 1.5em;
  .cart-icon {
    display: inline;
    height: 1.5rem;
  }
}

.prices {
  font-family: $fraunces;
  color: $primary-dark-cyan;
  display: inline-block;
}

.price {
  display: inline;
}

.price-current {
  font-size: 2em;
}

.price-past {
  color: $neutral-dark-grayish-blue;
  text-decoration: line-through;
  align-self: baseline;
  vertical-align: center;
}